* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {
    widht: 100%;
    padding: 5% 20%;
}

.passgen {
    widht: 100%;
    height: 80px;
    transition: all 200ms ease-in-out;
    font-size: 20px;
    overflow: hidden;
    /**/
    border-radius: 10px;
    border: 1px solid rgba( 40, 50, 60, 0.5 );
    background: rgba( 100, 120, 140, 1 );
    box-shadow: rgba( 10, 15, 20, 0.5 ) 0px 4px 4px;
}
/*
.passgen.folded {
    height: 40px;
}
*/
.passgen .row {
    widht: 100%;
    height: 40px;
}
.passgen .row:after {
    content: "";
    display: table;
    clear: both;
}

.passgen .float-l {
    float: left;
}

.passgen .pad-r-80 {
    padding-right: 80px;
}

.passgen .mar-r-n-80 {
    margin-right: -80px;
}

.passgen textarea {
    float: left;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    font-size: 20px;
    padding: 10px;
    font-family: monospace;
    overflow: hidden;
}

.passgen .number {
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 20px;
    /*padding: 10px;*/
    /**/
    color: white;
    text-shadow: black 0px -1px 1px;
    background: silver;
    user-select: noselect;
}


.passgen .button {
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    /*padding: 10px;*/
    /**/
    color: white;
    text-shadow: black 0px -1px 1px;
    background: silver;
    user-select: noselect;
}
.passgen .button:active {
    background: darkgray;
}


.passgen .button.inv {
    background: silver;
}
.passgen .button.inv:active {
    background: darkgray;
}

.passgen .button.on {
    background: gray;
}
.passgen .button.on:active {
    background: black;
}

.passgen .col-4 {
    width: 25%;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 5% 0%;
    }
}
